@{
    ViewData["Title"] = "Dashboard";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">


<div class="container-fluid">
    <!-- Contenido principal -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h2>Bienvenido, @ViewData["UsuarioNombre"]</h2>
        <p>Esta es la página principal protegida, accesible solo si estás logueado.</p>
    </main>
</div>

