@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Detalle de Lugar";
}

<h2>Espacios Disponibles en @ViewData["LugarNombre"]</h2>
<p>@ViewData["LugarDireccion"]</p>

@foreach (var espacio in Model)
{
    <h5>@espacio.Nombre</h5>
    <a asp-action="ConsultarDisponibilidad" asp-controller="Reservacion"
   asp-route-espacioId="@espacio.EspacioId" class="btn btn-primary">Ver Disponibilidad</a>
}
