@{
    ViewData["Title"] = "The Club Smart";
}

<head>
    <!-- Vínculo correcto al archivo CSS -->
    <link rel="stylesheet" href="/css/indexhome.css" />
</head>

<!-- Hero Section -->
<div class="hero-section text-center" style="background-image: url('https://www.lamansiondelbosque.com/bundles/app/images/slider/01.jpg'); background-size: cover; background-position: center; height: 70vh;">
    <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-4">The Club Smart</h1>
        <p class="lead">Se especializa en la gestión y reservación de espacios recreativos en diversos clubes.</p>
    </div>
</div>
