@{
    ViewData["Title"] = "The Club Smart";
}

<!-- Hero Section -->
<div class="hero-section text-center" style="background-image: url('/images/club-house.jpg'); background-size: cover; background-position: center; height: 70vh;">
    <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-4">The Club Smart</h1>
        <p class="lead">Se especializa en la gestión y reservación de espacios recreativos en diversos clubes.</p>
    </div>
</div>

<!-- Features Section -->
<div class="container py-5 text-center">
    <div class="row">
        <div class="col-md-3">
            <img src="/images/clubes-icon.png" alt="Clubes" class="img-fluid">
            <h5 class="mt-2">CLUBES</h5>
        </div>
        <div class="col-md-3">
            <img src="/images/about-icon.png" alt="About" class="img-fluid">
            <h5 class="mt-2">ABOUT</h5>
        </div>
        <div class="col-md-3">
            <img src="/images/login-icon.png" alt="Login" class="img-fluid">
            <h5 class="mt-2">LOGIN</h5>
        </div>
        <div class="col-md-3">
            <img src="/images/events-icon.png" alt="Events" class="img-fluid">
            <h5 class="mt-2">EVENTS</h5>
        </div>
    </div>
</div>
