@{
    ViewData["Title"] = "Confirmación de Reservación";
}

<h2>Reservación Confirmada</h2>
<p>Tu reservación ha sido registrada exitosamente.</p>
<a asp-action="Dashboard" asp-controller="Home" class="btn btn-primary">Volver al Dashboard</a>

