@{
    ViewData["Title"] = "Clubes";
}

<h2>The Club Smart</h2>
<p>Bienvenido. Aquí puedes gestionar y reservar en diversos clubes.</p>

<h4>Clubes:</h4>
<div class="row text-center">
    <div class="col-md-2">
        <img src="https://via.placeholder.com/100" alt="Club 1" class="img-fluid rounded-circle">
        <p>Club 1</p>
    </div>
    <div class="col-md-2">
        <img src="https://via.placeholder.com/100" alt="Club 2" class="img-fluid rounded-circle">
        <p>Club 2</p>
    </div>
    <div class="col-md-2">
        <img src="https://via.placeholder.com/100" alt="Club 3" class="img-fluid rounded-circle">
        <p>Club 3</p>
    </div>
    <div class="col-md-2">
        <img src="https://via.placeholder.com/100" alt="Club 4" class="img-fluid rounded-circle">
        <p>Club 4</p>
    </div>
    <div class="col-md-2">
        <img src="https://via.placeholder.com/100" alt="Club 5" class="img-fluid rounded-circle">
        <p>Club 5</p>
    </div>
</div>
